NODE_ENV=development
PORT=3000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=node_by_node
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/node_by_node

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_URL=amqp://rabbitmq:5672

JWT_SECRET=change-me
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=30d
